main {
    position: relative;
}

/* css block photographers informations */
.photograph-header {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
    padding: 0 60px;
}

.photograph-header .photographer-text {
    display: flex;
    flex-direction: column;
}

.photograph-header .photographer-text h1 {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.photograph-header .photographer-text h2 {
    color: #901C1C;
    font-size: 27px;
    margin-bottom: 15px;
}

.photograph-header .photographer-text p {
    color: #525252;
    font-size: 20px;
}

.photograph-header .photographer-text .priceInfo {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #D3573C;
    padding: 15px 30px;
    color: #000;
    width: 170px;
    margin-right: 60px;
    border-radius: 5px;
}

.photograph-header .photographer-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header .photographer-text .priceInfo #price span {
    margin-left: -36px;
}
/* <====== section media ======>*/

.photographer_media_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    grid-gap: 110px;
    margin-bottom: 150px;
}

.photographer_media_section .medial-container {
    height: 350px;
    cursor: pointer;
}

.medial-container div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #901C1C;
    font-size: 18px;
    font-weight: 600;
}

.medial-container div span {
    display: flex;
}

.medial-container div span i {
    margin-left: 8px;
}

.photographer_media_section .medial-container .photographer-media {
    width: 100%;
    height: 100%;
}

.photographer_media_section .medial-container video, .photographer_media_section .medial-container img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

/* filter */

.filter-media {
    margin: 20px 100px 40px;
    font-size: 17px;
}

.filter-media label {
    font-weight: 600;
    margin-right: 20px;
}

.filter-media select {
    border-radius: 5px;
    background-color: #901C1C;
    color: #fff;
    padding: 0 10px;
    /* text-indent: 10px; */
    outline: none;
}

/* Modal media */
#contact-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(143, 142, 142, 0.4);
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    margin: auto;
    animation-name: modalAnimation;
}

.modal h1 {
    color: #000;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-align: left;
}

.error-message {
    font-size: 18px;
    color: red;
    display: none;
}

/* handle  border, message error  */
.bordernone {
    border: none;
}

.border-red {
    border: 3px solid red;
}

.border-green {
    border: 3px solid #279e7a;
}

.displayError {
    display: block;
}

/* contact form */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 26px;
    margin-bottom: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 50px;
}

form textarea {
    resize: none;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}


/* Caroussel */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(143, 142, 142, 0.4);
}

.lightbox .carrousel {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    margin: auto;
    animation-name: modalAnimation;
}

/* close modal */

.carrousel .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.carrousel .close::after, .carrousel .close::before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #901C1C;

}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.lightbox .carrousel .caroussel-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lightbox .carrousel .caroussel-content .carrousel-img {
    width: 100%;
    height: 100%;
}

.lightbox .carrousel .caroussel-content .carrousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    /* background-color: #FFF; */
    transform: translateY(-50%);
    /* border-radius: 50%; */
    cursor: pointer;
    z-index: 1001;
    /* border: 1px solid black; */
}

.carousel__button--prev {
    left: 0;
}

.carousel__button--next {
    right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
    }
}